[Desktop Entry]
Encoding=UTF-8
Name=Enlace a CHDMAN | Contenido Wiki
Type=Link
URL=https://wiki.recalbox.com/en/tutorials/utilities/rom-conversion/chdman
Icon=text-html
